body
{
   padding: 0;
   margin: 0;
   overflow-y: scroll; 
   background-color: #EEE;
   font-family: Helvetica, Arial, sans-serif; 
}

body #nav
{
   background-color: #750A0D;
   
}

body #nav_wrapper
{
   margin: 0 auto;
   text-align: center;
   width:800px;
}

body #nav ul
{
   list-style-type: none;
   padding: 0; 
   margin: 0;
   position: relative; 
}

body #nav ul li
{
   display: inline-block;
}

body #nav ul li:hover
{
   background-color: #BC3636;
}

body #nav ul li a,visited
{
   color: #EEDD2A;
   display: block; 
   padding: 15px; 
   text-decoration: none;
}

body #nav ul li a:hover 
{
   color: #FFF;
   text-decoration: none;
}

body #nav ul li:hover ul
{
   display: block;
}

body #nav ul ul
{
   display: none;
   position: absolute; 
   z-index: 1;
   background-color: #BC3636;
   border: 5px solid #750A0D;
   border-top: 0;
   margin-left: -35px;
}

body #nav ul ul li
{
   display: block; 
}

body #nav ul ul a,visited
{
   color: #EEDD2A;
}

#nav ul ul li a:hover 
{
   color: #FFF;
}

h1, h2, h3 
{
   margin: 0; 
}

#container
{
   background-color: white;
   width: 800px; 
   margin-left: auto; 
   margin-right: auto; 
}


body #title 
{
   background-color: #750A0D;
   color: #EEDD2A; 
   text-align: center; 
   padding: 10px; 
}

#content 
{
   padding: 0px 10px 10px 0px; 
}

/* Slider Structure */
#sllider
{
   background: #000;
   border: 5px solid #eaeaea;
   box-shadow: 1px 1px 5px rgba(0,0,0,0.7);
   height: 320px;
   width: 800px;
   margin: 40px auto 0;
   overflow: visible;
   position: relative;
}

/* Hides all outside of slider */ 
#mask
{
   overflow: hidden; 
   height: 320px; 
}

/* Image list */ 
#slider ul 
{
   margin: 0;
   padding: 0; 
   position: relative ;
}

#slider li
{
   width: 800px; /* Width Image */ 
   height: 320px; /* Height Image */ 
   position: absolute; 
   top: -325px; /* Original Position - Outside of Slider */ 
   list-style: none; 
}

#slider li.firstanimation 
{
   /*Define the total duration of the animation*/
   animation: cycle 25s linear infinite; 
}

#slider li.secondanimation 
{
   animation: cycletwo 25s linear infinite;
}

#slider li.thirdanimation 
{
   animation: cyclethree 25s linear infinite;
}

#slider li.fourthanimation 
{
   animation: cyclefour 25s linear infinite;
}

#slider li.fifthanimation 
{
   animation: cyclefive 25s linear infinite;
}

/* ANIMATION */

@keyframes cycle 
{
   0%  { top: 0px; } /* When you start the slide, the first image is already visible */
   4%  { top: 0px; } /* Original Position */
   16% { top: 0px; opacity:1; z-index:0; } /* From 4% to 16 % = for 3 seconds the image is visible */
   20% { top: 325px; opacity: 0; z-index: 0; } /* From 16% to 20% = for 1 second exit image */
   21% { top: -325px; opacity: 0; z-index: -1; } /* Return to Original Position */
   92% { top: -325px; opacity: 0; z-index: 0; }
   96% { top: -325px; opacity: 0; } /* From 96% to 100% = for 1 second enter image*/
   100%{ top: 0px; opacity: 1; }
}

@keyframes cycletwo 
{
   0%  { top: -325px; opacity: 0; } /* Original Position */
   16% { top: -325px; opacity: 0; }/* Starts moving after 16% to this position */
   20% { top: 0px; opacity: 1; }
   24% { top: 0px; opacity: 1; }  /* From 20% to 24% = for 1 second enter image*/
   36% { top: 0px; opacity: 1; z-index: 0; }   /* From 24% to 36 % = for 3 seconds the image is visible */
   40% { top: 325px; opacity: 0; z-index: 0; } /* From 36% to 40% = for 1 second exit image */
   41% { top: -325px; opacity: 0; z-index: -1; }   /* Return to Original Position */
   100%{ top: -325px; opacity: 0; z-index: -1; }
}

@keyframes cyclethree 
{
   0%  { top: -325px; opacity: 0; }
   36% { top: -325px; opacity: 0; }
   40% { top: 0px; opacity: 1; }
   44% { top: 0px; opacity: 1; }
   56% { top: 0px; opacity: 1; }
   60% { top: 325px; opacity: 0; z-index: 0; }
   61% { top: -325px; opacity: 0; z-index: -1; }
   100%{ top: -325px; opacity: 0; z-index: -1; }
}

@keyframes cyclefour 
{
   0%  { top: -325px; opacity: 0; }
   56% { top: -325px; opacity: 0; }
   60% { top: 0px; opacity: 1; }
   64% { top: 0px; opacity: 1; }
   76% { top: 0px; opacity: 1; z-index: 0; }
   80% { top: 325px; opacity: 0; z-index: 0; }
   81% { top: -325px; opacity: 0; z-index: -1; }
   100%{ top: -325px; opacity: 0; z-index: -1; }
}

@keyframes cyclefive 
{
   0%  { top: -325px; opacity: 0; }
   76% { top: -325px; opacity: 0; }
   80% { top: 0px; opacity: 1; }
   84% { top: 0px; opacity: 1; }
   96% { top: 0px; opacity: 1; z-index: 0; }
   100%{ top: 325px; opacity: 0; z-index: 0; }
}

/* PROGRESS BAR */

.progress-bar 
{
   position: relative;
   top: -5px;
   width: 800px;
   height: 5px;
   background: #000;
   animation: fullexpand 25s ease-out infinite;
}

/* ANIMATION BAR */

@keyframes fullexpand 
{
   /* In these keyframes, the progress-bar is stationary */
   0%, 20%, 40%, 60%, 80%, 100% { width: 0%; opacity: 0; }

   /* In these keyframes, the progress-bar starts to come alive */
   4%, 24%, 44%, 64%, 84% { width: 0%; opacity: 0.3; }

   /* In these keyframes, the progress-bar moves forward for 3 seconds */
   16%, 36%, 56%, 76%, 96% { width: 100%; opacity: 0.7; }

   /* In these keyframes, the progress-bar has finished his path */
   17%, 37%, 57%, 77%, 97% { width: 100%; opacity: 0.3; }

   /* In these keyframes, the progress-bar will disappear and then resume the cycle */
   18%, 38%, 58%, 78%, 98% { width: 100%; opacity: 0; }
}

#slider .tooltip 
{
   background: rgba(0,0,0,0.7);
   width: 300px;
   height: 60px;
   position: relative;
   bottom: 75px;
   left: -320px;
}

#slider .tooltip h1 
{
   color: #fff;
   font-size: 24px;
   font-weight: 300;
   line-height: 60px;
   padding: 0 0 0 10px;
}

#slider .tooltip 
{
   transition: all 0.3s ease-in-out;
}

#slider li#first:hover .tooltip,
#slider li#second:hover .tooltip,
#slider li#third:hover .tooltip,
#slider li#fourth:hover .tooltip,
#slider li#fifth:hover .tooltip 
{
   left: 0px;
}

#slider:hover li,
#slider:hover .progress-bar 
{
   animation-play-state: paused;
}

#main
{
   width: 800px; 
   float: bottom;
}

#main h3
{
    padding: 10px; 
    text-align: center; 
}

#footer
{
   clear: both;
   padding: 10px;
   background-color: #999999;
   color: white;
   text-align: right; 
}